@page "/"
@inject ProfileService Service

<div class="text-center">
      <img src="/img/AprenderIt.png" class="rounded image-aprender-it" alt="Aprender IT">
</div>
<div class="card-columns">

    @if (Profiles is not null)
    {
        @foreach (var item in Profiles)
        {
            <ProfileCard Profile="item"/>
        }
    }

</div>

@code {
    public IEnumerable<Profile> Profiles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Profiles = await Service.ProfilesAllAsync();
    }
}