@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<div class="container">
    <main role="main" class="pb-3">
        @Body
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - C101A.Fronted.Blazor - <a href="https://aprender.it/">Aprender IT</a>
    </div>
</footer>