<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/uploads_microsoft_microsoft_PNG13.png" width="30" height="30" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="/">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="Create">Crear Nuevo</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-white" href="Variables">Variables</NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
